<!DOCTYPE HTML>
<html>
<head>
    <title>Elovator</title>
    <meta charset="utf-8"/>
</head>
<body>
<!-- Deprecated -->
<form method="POST" action="https://www.liqpay.com/api/3/checkout" accept-charset="utf-8">
    <input type="hidden" name="data" value="{{data}}"/>
    <input type="hidden" name="signature" value="{{signature}}"/>
    <input type="image" src="//static.liqpay.com/buttons/p1en.radius.png"/>
</form>

</body>
</html>